<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="api.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^bin\/www\/debug[\/]?" />
        </rule>
        <rule name="api">
          <match url="^api/*" />
          <action type="Rewrite" url="api.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode devErrorsEnabled="false" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" />
            </requestFiltering>
        </security>
    
  </system.webServer>
</configuration>
